bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
IssuesManagerDBFile.db
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
Issues.Manager.Api/appsettings.json
Issues.Manager.Api/appsettings.json
Issues.Manager.Api/D:/WorkSpace/WebApi/internallog.txt
Issues.Manager.Api/appsettings.json
Issues.Manager.Api/D:/WorkSpace/WebApi/internallog.txt
Issues.Manager.Api/appsettings.json
