bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
IssuesManagerDBFile.db
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
Issues.Manager.Api/appsettings.json
Issues.Manager.Api/appsettings.json
Issues.Manager.Api/D:/WorkSpace/WebApi/internallog.txt
Issues.Manager.Api/appsettings.json
Issues.Manager.Api/D:/WorkSpace/WebApi/internallog.txt
Issues.Manager.Api/appsettings.json
.idea/.idea.TaskMaster/.idea/.name
.idea/.idea.TaskMaster/.idea/dataSources.xml
.idea/.idea.TaskMaster/.idea/encodings.xml
.idea/.idea.TaskMaster/.idea/indexLayout.xml
.idea/.idea.TaskMaster/.idea/projectSettingsUpdater.xml
.idea/.idea.TaskMaster/.idea/vcs.xml
.idea/.idea.TaskMaster/.idea/workspace.xml
.idea/.idea.TaskMaster/.idea/dataSources/d096ce2e-ccc0-4d0f-b6b5-ceb1aac63c8c.xml
TaskMaster.Api/SqliteDb.db
